<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"> Pitch Perfect</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Categories</a></li>
                <li><a href="/">Sign Up</a></li>
                <li><a href="/">Sign in</a></li>
                <li><a href="/">my profile</a></li>
        </div>

    </div>
</div>